body {
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
h1 {
  color:bisque;
  font-family: "Isometra", sans-serif;
}